/*CSS da Página Home*/

body{
    background-color: black;
}

.cabecalho{
    margin-top: 20px;
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
}

#logo-gleimerson{
    margin-right: 30%;
    margin-left: 8.5%;
}

#logo-gustavo{
    margin-left: 5%;
    margin-right: 5%;
}

#logo-paulo{
    margin-left: 30%;
}

.barra-nav{
    background-color: black;
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
}

#gleimerson{
    margin-right: 31%;
    margin-left: 6.5%;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gustavo{
    margin-right: 34%;
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#paulo{
    color: white;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#divisoria-cabe{
    background-color: white;
    height: 1px;
    width: 105%;
    margin-top: 15px;
}

.fotos-rostos{
    display: flex;
    margin-top: 40px;
    animation: pulsate 1.5s infinite ease-in-out;
}

#a-nav{
    display: flex;
    margin-right: 14%;
}

a:hover{
    opacity: calc(50%);
    cursor: pointer;
}

/*CSS da Página de Paulo*/

#seta-voltar{
    width: 9%;
    height: 30px;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;
}

#seta-voltar:hover{
    opacity: 50%;
    cursor: pointer;
}

.cabecalho-paulo{
    display: flex;
    width: 90%;
    height: 60px;
    justify-content: center;
    margin-left: 70px;
    margin-top: -40px;
}

#logo-pagina-paulo{
    animation: pulsate 1.5s infinite ease-in-out;
}

@keyframes pulsate {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.015); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

#nome-pagina {
    animation: pulsate 1.5s infinite ease-in-out;
    text-align: center;
    color: white;
    margin-top: -1px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 
        -1px -1px 0 #b1b1b1,  
        1px -1px 0 #b1b1b1,
        -1px 1px 0 #b1b1b1,
        1px 1px 0 #b1b1b1;
}

#divisoria-cabe2{
    background-color: white;
    height: 1px;
    width: 100%;
}

.barra-nav2 {
    background-color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra-nav2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.barra-nav2 ul li {
    margin: 0 15px;
}
.barra-nav2 ul li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    transition: color 0.2s;
}
.barra-nav2 ul li a:hover {
    color: #b1b1b1;
}

html {
    scroll-behavior: smooth;
}

.sobre{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 600px;
    flex-direction: row;
}

#imagem-sobre{
    animation: pulsate 1.5s infinite ease-in-out;
    display: flex;
    height: 60%;
    margin-top: 120px;
}

#titulo-sobre{
    margin-left: 100px;
    margin-top: 50px;
    color: white;
    font-size: 34px;
}

#texto-sobre{
    margin-top: 100px;
    margin-left: -200px;
    width: 60%;
    color: white;
    text-indent: 30px;
    text-align: justify;
}

.hobbies-1{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    width: 100%;
    height: 300px;
}

#titulo-hobbies{
    color: white;
    font-size: 34px;
    margin-left: 600px;
    width: 16%;
    height: 50px;
    margin-top: -2px;
}

#texto1-hobbies{
    margin-top: 55px;
    margin-left: -800px;
    width: 58%;
    color: white;
    text-indent: 30px;
    text-align: justify;
}

#img1-hobbies{
    animation: pulsate 1.5s infinite ease-in-out;
    margin-left: 40px;
    display: flex;
    width: 35%;
    height:220px;
    margin-top: 75px;
}

.hobbies-2{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    margin-top: 35px;
}

#img2-hobbies{
    animation: pulsate 1.5s infinite ease-in-out;
    display: flex;
    margin-left: 15px;
    width: 35%;
    height: 270px;
}

#texto2-hobbies{
    margin-top: 10px;
    margin-left: 50px;
    width: 58%;
    color: white;
    text-indent: 30px;
    text-align: justify;
}

#titulo-galeria{
    margin-top: 50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 34px;
}

.galeria{
    animation: pulsate 1.5s infinite ease-in-out;
    margin-top: -50px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 600px;
}

#titulo-contato{
    margin-top: -50px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 18px;
}

#formulario{
    justify-content: center;
    margin-left: 35%;
    display: flex;
    width: 30%;height: 500px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

button {
    background: #007bff;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 20px;
}

button:hover {
    background: #00448d;
}

.rodape{
    justify-content: center;
    height: 70px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    color: white;
}

.redes-sociais{
    display: flex;
    justify-content: center;
}

#a-git, #a-insta, #a-whats{
    display: flex;
    height: 30px;
    margin-top: -30px;
    margin-right: 5px;
}

